{% extends "your_gifs/base.html" %}

{% block title_block %} - Login{% endblock %}

{% block body_block %}
    <form method="post" class="form-signin" id="login_form" action=".">
        {% csrf_token %}
        {# {{ form.as_p }} #}

        <h2 class="form-signin-heading">Log in</h2>
        <label for="id_username" class="sr-only">Username</label>
        <input type="text" id="id_username" maxlength="254"  name="username" class="form-control" placeholder="Username" required autofocus>

        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>


        <input class="btn btn-primary btn-block" type="submit" value="Submit" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p></p>
{% endblock %}