{% extends "your_gifs/base.html" %}

{% block title_block %} - Change Password{% endblock %}

{% block body_block %}
    <form method="post" class="form-signin" id="login_form" action=".">
        {% csrf_token %}
        {#{{ form.as_p }}#}

        <h2 class="form-signin-heading">Old password</h2>
        <label for="id_old_password" class="sr-only">Old password</label>
        <input type="password" id="id_old_password" maxlength="254"  name="old_password" class="form-control" placeholder="Old password" required autofocus>

        <label for="id_new_password1" class="sr-only">New password</label>
        <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="New password" required>

        <label for="id_new_password2" class="sr-only">New password confirmation</label>
        <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="New password confirmation" required>


        <input class="btn btn-primary btn-block" type="submit" value="Submit" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p></p>
{% endblock %}