#login_form,
#regist_form,
#category_form,
#post_form,
#logged_out {
    max-width: 330px;
    margin: 0 auto;
}

#logged_out {
    text-align: center;
}

li .nav-link {
    color: white;
}

li .nav-item:hover {
    background-color: black;
}

#gif_thumbnail {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    height: 300px;
    background-color: #eee;
    /*border: none;*/
}

#gif_thumbnail_max {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    height: 300px;
    background-color: #eee;
    /*border: none;*/
    object-fit: fill;
}

#post_title {
    height: 45px;
}

video, img {
    object-fit: scale-down;
}

.tooltip-inner {
    font-size: 16px;
}

#category_name {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    opacity: 0.8;
    color: black;
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 20px;
    padding: 5px;
    margin: 2px;
}

#category_name-small {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    opacity: 0.45;
    color: black;
    position: absolute;
    font-size: 13px;
    top: 20px;
    left: 20px;
    padding: 5px;
    margin: 2px;
}

#gif_info {
    opacity: 0.9;
    color:black;
    position: absolute;
    font-size: 20px;
    top: 150px;
    width: 100%;
    text-align: center;
}