{% extends 'your_gifs/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <div>
        {% if category %}
            <div class="col-md-12">
                <h1 class="jumbotron text-justify" id="category_title">{{ category.name }}</h1>
            </div>

            {% if posts %}
                <div style="margin: 0 auto;">
                    {% if posts %}
                        {% for p in posts %}
                            <div class="col-md-4">
                                {#  Crating img or video tag   #}
                                {% if p.video == True %}<video
                                {% else %}<img
                                {% endif %}

                                           class="thumbnail" id="gif_thumbnail"
                                           data-toggle="tooltip"
                                           title="{{ p.title }}{% if p.body %} - {{ p.body }}{% endif %}" src="{{ p.url }}"

                                {% if p.video == True %} autoplay loop></video>
                                {% else %}></img>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p style="margin: 0 auto; text-align: center;">No posts yet</p>
                    {% endif %}
                </div>

            {% else %}
                <div class="col-md-12 alert alert-warning">
                    <p>No posts currently in category.</p>
                </div>
            {% endif %}
            <br />
            <br />
        {% else %}
            The specified category does not exist!
        {% endif %}
    </div>
{% endblock %}

<script>
    $(document).ready(function(){
        window.scrollTo(0, $("#category_title").scrollHeight);
    });
</script>

{% block footer_block_more %}
    <li class="nav-item"><a class="nav-link" href="{% url 'add_post' category.slug %}">Add Post</a></li>
{% endblock %}